/* General Styles */
body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hero section */

.hero-img-child {

    margin: auto;
    height: 00px important;
}

.shop-btn {
    width: 30%;
    border-radius: 3rem;
}

/* sponsors */




/* buy button */
.buy-btn {
    width: 100%;
}
.card-rate-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container > img {
    height: 16rem !important;
}


/* browse dress style */
.dress-styles {
    width: 100%;
    background-image: url(./image/casual\ style.png);
    height: 12rem;
}

/* stay up to date */
.sub-btn {
    width: 100%;
}

/* .items-img {
    height: 10%;
} */
/* .card-container {
    height: 100% !important;
} */